<div class="w-[290px] h-screen ml-3 bg-bgLightSecondary flex flex-col">
  <div class="relative left-[10%] w-[86%] mt-6">
    <app-search-bar />
  </div>

  <div class="mt-12 relative left-[10%]">
    <p class="font-bold text-md">Messages</p>
  </div>

  <div
    class="mt-1 w-[80%] relative left-[10%] rounded-full  bg-[#d2d3db] border-2 border-[#d2d3db] flex flex-row space-x-3">
      <div
        [ngClass]="{'bg-bgLightSecondary': currentList() === MessageListFragment.ALL_CONTACTS}"
        (click)="onFragmentChange(MessageListFragment.ALL_CONTACTS)"
        class="text-xs rounded-full p-2 font-semibold cursor-pointer">
        All chats
      </div>

    <div
      [ngClass]="{'bg-bgLightSecondary': currentList() === MessageListFragment.GROUPS}"

      (click)="onFragmentChange(MessageListFragment.GROUPS)"
      class="text-xs rounded-full bg-bgLightSecondary p-2 font-semibold cursor-pointer">
      Groups
    </div>

    <div
      [ngClass]="{'bg-bgLightSecondary': currentList() === MessageListFragment.CONTACT}"
      (click)="onFragmentChange(MessageListFragment.CONTACT)"
      class="text-xs rounded-full p-2 font-semibold cursor-pointer">
      Contacts
    </div>
  </div>


  <div class="w-[80%] relative left-[10%] pt-12 flex flex-col space-y-3 h-[80%] overflow-x-auto">
    @if (currentList() === MessageListFragment.CONTACT)
    {
      @for (contact of contactList(); track contact)
      {
        <div
          [routerLink]="['/home/discussion', contact.id]"
          class="w-full h-16 bg-[#d2d3db] rounded-md ">
          <div class="flex align-middle cursor-pointer">
             <img class="h-16 w-16 rounded-full p-2 " [src]="contact.avatarUrl">
              <div class="flex flex-col">
                <p class="text-sm px-2 pt-4 font-bold text-darkMain">{{ contact.firstName + ' ' + contact.lastName.toUpperCase() }}</p>
                <div class="flex items-center space-x-1">
                  <span class="w-2 h-2 bg-green-500 rounded-full"></span>
                  <span class="text-xs text-green-600 font-medium">Online</span>
                </div>
              </div>
          </div>
        </div>
      }
    }
  </div>
</div>
